.app{

    display:grid;

    grid-template-columns:280px 1fr;

    height:100vh;

}

/* ========================= */

.sidebar{

    background:var(--surface);

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

}

/* ========================= */

main{

    display:flex;

    flex-direction:column;

}

/* ========================= */

.topbar{

    height:75px;

    border-bottom:1px solid var(--border);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    background:var(--surface);

}

/* ========================= */

.dashboard{

    flex:1;

    overflow:auto;

    padding:25px;

}

.bottom-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:20px;

    margin-top:25px;

}
